{% extends 'base.html.twig' %}

{% block body_classes %}page-home{% endblock body_classes %}

{% block body %}

    <main role="main">

        {% include "components/jumbotron.html.twig" %}

        <section class="section section-lg section-places">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        {% include "components/card-block.twig" with { title: 'Nantes', imgSrc: asset('assets/img/hangar-bananes.png'), link: '', linkTitle: 'En savoir plus'} %}
                    </div>
                    <div class="col-4">
                        {% include "components/card-block.twig" with { title: 'Berlin', imgSrc: asset('assets/img/berlin.png'), link: '', linkTitle: 'En savoir plus'} %}
                    </div>
                    <div class="col-4">
                        {% include "components/card-block.twig" with { title: 'Bordeaux', imgSrc: asset('assets/img/bdx.png'), link: '', linkTitle: 'En savoir plus'} %}
                    </div>
                </div>
            </div>
        </section>


        <section class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                        <h2>We need you !</h2>
                        <p class="lead text-muted">{{ 'home.needyou'|trans({}) }}</p>
                        <a href="{{ path('app_artwork_new') }}" class="btn btn-primary my-2">Soumettre une photo</a>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <img src="/assets/img/needyou.png" alt="needyou" style="width: 70%"/>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h2 class="mb-5 text-center">Preview de la base de données des oeuvres</h2>
                <div class="row">
                    {% for pois in colPois %}
                        <div class="col-12 col-sm-4">
                            {% for poi in pois %}
                                {% set artwork = poi.artworks.first %}
                                {% set document = artwork.documents.first %}

                                {% include "components/card-artwork.twig" with {
                                    imgSrc: vich_uploader_asset(document, 'imageFile'),
                                    title: artwork.title,
                                    textLeft: poi.city ~ ', ' ~ poi.country,
                                    textRight: artwork.createdAt|date("d/m/Y"),
                                } %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </section>
    </main>
{% endblock %}