{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
    <div class="page-map">
        <div id="map" class="content-map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
      window.datas = '{{ pois | raw }}';
    </script>

    <script src="{{ asset('build/js/map.js') }}"></script>
{% endblock %}