.page-map section {
  padding: 20px 0;
}

.content-map {
  height: 100%;
  width: 100vw;
}

.page-map .content-map, .page-artwork .content-map {
  height: 100%;
  width: 100%;
}

.page-map .content {
  min-height: auto;
}

.page-artwork .content-map {
  min-height: 300px;
  margin-bottom: 30px;
}

.page-map .card-artwork {
  margin-top: 20px;
}


#map_menu {
  position: absolute;
  z-index: 1000;
  right: 0;
  margin: 10px;
}

.bubble-img {
  width: 223px;
  height: 256px;
  position: relative;
}
.map-bubble {
  position: absolute;
  background: white;
  width: 63px;
  height: 35px;
  top:14px;
  right: 2px;
  font-family: 'Sedgwick Ave', cursive;
  line-height: 18px;
  font-size: 18px;
}

/* photo/video popup */
.leaflet-popup-photo a.leaflet-popup-close-button {
  top: -13px;
  right: -13px;
  box-sizing: content-box;
  background-color: #fff;
  padding: 5px;
  border-radius: 12px;
  width: 15px;
  height: 15px;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  color: #555;
}
.leaflet-popup-photo a.leaflet-popup-close-button:hover {
  color: #333;
  background-color: #eee;
}
.leaflet-popup-photo .leaflet-popup-content-wrapper {
  padding: 6px;
  border-radius: 4px;
}
.leaflet-popup-photo .leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-photo .leaflet-popup-tip {
  background: white;
}
.leaflet-popup-photo img,
.leaflet-popup-photo video {
  display: block;
  width: 100%;
}
.leaflet-popup-photo p {
  margin: 5px 0 0 0;
}
