.social-login .facebook-btn{
  background-color:#3C589C;
  color: #FFF;
  font-weight: normal;
}

.social-login .facebook-btn:hover {
  background: darken(#3C589C, 10%);
}

.social-login .instagram-btn{
  background-color: #E33E5C;
  color: #FFF;
  font-weight: normal;
}

.social-login .instagram-btn:hover {
  background: darken(#E33E5C, 10%);
}