@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

.nav-socials {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0.8rem;

    &:hover {
      text-decoration: none;

      &.facebook {
        color: $color-facebook;
      }

      &.twitter {
        color: $color-twitter;
      }

      &.instagram {
        color: $color-instagram;
      }
    }
  }
}
@media (max-width: 640px) {
  .lead {
    font-size: 1rem;
  }
}