.card-artwork {
  @extend .shadow;

  margin-bottom: 20px;

  padding: 0;
  background-color: white;

  .card-artwork-img {
    width: 100%;
  }

  .card-artwork-body {
    padding: 10px;

    .card-artwork-title {
      font-size: 1.6rem;
    }

    .card-artwork-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
