$header-line-width: 300px;

#header {

  @extend .shadow-sm;

  .dropdown-menu {
    min-width: auto;
  }

  .nav-item {
    .nav-link {
      height: 70px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;
    }

    &.active {
      border-bottom: solid 3px $secondary;
    }
  }

  .lang button {
    background: white;
  }

  @media (max-width: 990px) {
    .nav-item {
      .nav-link {
        height: 40px;
      }
    }

    .navbar-nav.social {
      width: 165px;
    }
  }
}