<div class="card-artwork hovereffect">
    <img src="{{ imgSrc | imagine_filter('thumb_smallmedium') }}" alt="{{ title }}" class="card-artwork-img">

    <div class="card-artwork-body overlay">
        <h2>{{ title }}</h2>
        <span class="info">{{ 'artist.view'|trans({}) }}</span>
    </div>
</div>
