<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        {{ title }}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for value in values %}
            <a class="dropdown-item" href="#">{{ value[1] }}</a>
        {% endfor %}
    </div>
</div>