<div class="dropdown show m-2">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        {{ ('list.filter.'~query)|trans({}) }}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for value in values %}
            {% set q = query~'-'~value[1] %}
            <a class="dropdown-item" href="{{ path('search', { 'q' : q }) }}">{{ value[1] }}</a>
        {% endfor %}
    </div>
</div>