<div class="footer">

   <div class="container">
      <div class="row">
         <div class="col">

         </div>
         <div class="col">
            <p class="footer-credits">
               © Street Art Nantes
            </p>
         </div>
         <div class="col">
         <div class="aside-bottom socials">
            <a href="https://www.facebook.com/" class="fab fa-facebook-f" target="_blank"></a>
            <a href="https://www.youtube.com/" class="fab fa-youtube" target="_blank"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"></a>
         </div>
      </div>
</div>