<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <p class="footer-credits">
                    © Street Artwork
                </p>
            </div>
            <div class="col">
                <div class="aside-bottom socials">
                    <a href="https://www.facebook.com/streetartwork44/" class="fab fa-facebook-f" target="_blank"></a>
                    <a href="https://twitter.com/StreetArtwork44" class="fab fa-twitter" target="_blank"></a>
                    <a href="https://www.instagram.com/streetartwork44/" class="fab fa-instagram" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
</div>